[user]
	name = Jack McKernan
	email = jmcker@outlook.com
[core]
	autocrlf = input
    editor = "vim"
	excludesfile = /mnt/d/jmcker/.gitignore_global
[credential]
	helper = cache
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
