[user]
    useConfigOnly = true
    name = Jack McKernan
    email = jmcker@outlook.com
    signingkey = FA8C01167D9A8CE6
    #signingkey = B24D109150147544
[core]
    autocrlf = input
    editor = "vim"
    excludesfile = ~/.gitignore_global
    #hooksPath = ~/.git-templates/hooks
    ignorecase = false
[credential]
    helper = cache
[commit]
    gpgsign = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[init]
    #templateDir = ~/.git-templates

[includeIf "gitdir:~/Documents/Aneesh/"]
    path = ~/Documents/Aneesh/.gitconfig
[includeIf "gitdir:~/Documents/Charlene/"]
    path = ~/Documents/Charlene/.gitconfig
[includeIf "gitdir:~/Documents/Davis/"]
    path = ~/Documents/Davis/.gitconfig
[includeIf "gitdir:~/Documents/Emanuel/"]
    path = ~/Documents/Emanuel/.gitconfig
[includeIf "gitdir:~/Documents/Jack/"]
    path = ~/Documents/Jack/.gitconfig
[includeIf "gitdir:~/Documents/Neel/"]
    path = ~/Documents/Neel/.gitconfig
